# Distribution / packaging
.Python
venv/
env1/
*.sqlite3
.idea/
# Project asset folders

# Database
db.sqlite3
# Editor directories and files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class